body {
  font-family: sans-serif;
  font-size: var(--default-font-size);
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
}

.radix-themes {
  --default-font-size: 15px;
  --default-line-height: 1.45;
}

.query-result-markdown p:first-child {
  margin-top: 0;
}

.query-result-markdown li > p {
  margin: 0.3em 0;
}
