html,
body {
  font-family: sans-serif;
  font-size: var(--default-font-size);
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.radix-themes {
  --default-font-size: 15px;
  --default-line-height: 1.45;
  --color-background: #fcf7f5;
  --color-background-strong: #fefefe;
  --color-background-strong-hover: #fff;
}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #2f3134;
  --color-background-strong: #2b2b2b;
  --color-background-strong-hover: #222;
}

.query-result-markdown p:first-child {
  margin-top: 0;
}

.query-result-markdown li > p {
  margin: 0.3em 0;
}

.query-result-markdown a.tweet-citation {
  font-size: 0.9em;
  line-height: 1;
  color: inherit;
  text-decoration: none;

  display: inline-block;
  background: var(--color-background-strong);
  padding: 4px;
  border-radius: 99px;
}
.query-result-markdown a.tweet-citation:hover {
  background: var(--color-background-strong-hover);
}
