body {
  font-family: sans-serif;
  font-size: var(--default-font-size);
  padding: 0px;
  margin: 0px;
  line-height: 1.4;
}

.radix-themes {
  --default-font-size: 15px;
  --default-line-height: 1.45;
  --color-background: #fcf7f5;
}

:is(.dark, .dark-theme),
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #2f3134;
}

.query-result-markdown p:first-child {
  margin-top: 0;
}

.query-result-markdown li > p {
  margin: 0.3em 0;
}
