/* Hover state styles */
.sidebar-item-container {
  transition: background 0.12s;
}

.sidebar-item-container:not(.active):hover {
  background: var(--sky-2) !important;
}

.sidebar-item-container.active {
  background: var(--sky-3);
}

.button-hover-gray:hover {
  background-color: var(--gray-3) !important;
}

.button-hover-gray-3:hover {
  background-color: var(--gray-3) !important;
}

.button-hover-green-3:hover {
  background-color: var(--green-3) !important;
}

.dropzone-hover:hover {
  background-color: var(--gray-3) !important;
}

.dropdown-button-hover:hover {
  background: var(--gray-3) !important;
}

.button-color-hover:hover {
  color: var(--gray-12) !important;
}

.dropzone-hover {
  transition: background-color 0.2s;
}
